h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  line-height: 70px;
  padding: 10px;
  text-align: center;
}

nav {
	list-style-type: none;
	text-align: center;
	margin: 0px 0 0 ;
  padding: 5px 0;
  
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1D3386;
        color: #99E164;
}

nav a {
   display: block;
   padding: 10px 50px;
   background-color: #1D3386;
   color: #99E164;
   text-align: center;
   text-decoration: none;
   float: left;
}

nav a:hover {
  background-color: #99E164;
  color: #1D3386

}

li a {
	background: none;
}

.active {
  background-color: #1D3386;
}

h1 {
  color: whitesmoke;
  background: grey
}